<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% skillsList.forEach(s => { %>
        <li> <%= s %> 
          <form action="/" method="POST">
            <input type="submit" id= "d " value="Remove Skill">
          </form>
        </li>
     <%  }) %> 
       
    </ul>
  </body>
</html>
